/* Typography and layout fundamental styles */

.page-layout {
    margin-left: 230px;
    margin-right: 230px;
}

@media (max-width: 768px) {

    .page-layout {
        margin-left: 100px;
        margin-right: 100px;
    }
    
}
.email-body-container {
    --spacing-medium: 430px;

    margin-left: var(--spacing-medium) ;
    margin-right: var(--spacing-medium);
}

.project-body-container {
    --spacing-medium: 380px;

    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}