/* Typography and layout fundamental styles */

.page-layout {
    margin-left: 230px;
    margin-right: 230px;
}
.email-body-container {
    --spacing-medium: 430px;

    margin-left: var(--spacing-medium) ;
    margin-right: var(--spacing-medium);
}